{% extends 'layout.html' %}
{% block content %}
    <div class="page-header">
        <h1 id="ActivityHeader">Activity</h1>
    </div>

    <div class="jumbotron">
        <div class="container">
             <div class="row">

          <div class="col-sm">
              <h2>Picture:</h2>
          </div>

            <div class="col-sm">
                <h2>Name:</h2>
            </div>

            <div class="col-sm">
                <h2>Price:</h2>
            </div>

            <div class="col-sm">
                <h2>Opening Hours:</h2>
            </div>

          </div>

        {% for activity in activities%}


          <div class="row">

          <div class="col-sm">
              <img src={{activity.Picture}} height='150' width='150'>
          </div>

            <div class="col-sm">
              {{activity.Name}}
            </div>

            <div class="col-sm">
              ${{activity.Price}}
            </div>

            <div class="col-sm">
              {{activity.Open}}
            </div>

          </div>



        <hr>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
