<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% if title %}
    <title> SLAZZ - {{ title }} </title>
    {% else %}
    <title> SLAZZ </title>
    {% endif %}
</head>
<body>
      {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>
