
<nav class="navbar navbar-expand-md navbar-inverse bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a class="text-warning navbar-brand" href="/"><style>color:yellow;</style>SLAZZ</a>
        </div>
     <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/transport">Your Location</a></li>
            <li><a href="/directions">Directions</a></li>
            <li><a href="/amenities">Amenities</a></li>
            <li><a href="/travels">Your Travels</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="/loggedin">Profile Page</a></li>
              <li><a href="/logout">Logout</a></li>

          </ul>
        </div>
      </div>
    </nav>
