{% extends 'layout_fin.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Activity</h1>
    </div>

    <div class="container-fluid text-center">
       {% if session['username'] in bdb %}
        <table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Activity Name</th>
            <th>Opening Hours</th>
            <th>Pricing</th>
        </tr>
    </thead>
    <tbody>
        {% for i in bdb[session['username']]  %}
        <tr>
            <td><img src={{i.image}} height='150' width='150'></td></td>
            <td>{{ i.name }}</td>
            <td>{{ i.hours}}</td>
            <td>{{ i.pricing}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        {% else %}
        <h3>You currently have no activities listed.</h3>
    {% endif %}

     <div class="container-fluid bg-grey text-center">
    <form method="POST" action="{{ url_for('activitySubmit') }}">
        <div class="form-group">

            <h2>Add Activities</h2>
            <label for="activityName">Name of Activity:</label> <br>
                <input type="text" id="activityName" name="activityName" required><br>

            <label for="image">Image Url:</label> <br>
                <input type="text" id="image" name="image" required><br>

            <label for="hours">Hours:</label> <br>
                <input type="text" id="hours" name="hours" required><br>

            <label for="pricing">Pricing:</label> <br>
                <input type="text" id="pricing" name="pricing" required><br>

        </div>
        <input id='activitySubmit' type="submit" value='Add' class="btn btn-warning">
    </form>
    </div>

        <div class="form-group">
            <form method="POST" action="{{ url_for('rSubmit') }}">
                <div class="form-group">
                    <h2>Remove Activities</h2>
                    <label for="returnName">Delete Activity:</label><br>
                    <select id='returnName' name="returnName">
                        {% for i in bdb[session['username']] %}
                        <option value="{{ i.name }}">{{ i.name }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <input id='rSubmit' type="submit" value="Remove" class="btn btn-warning">
            </form>
        </div>


        </div>

    <script>
        $(document).on('click', '#abo', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Finance"
        })
        $(document).on('click', '#sav', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Savings"
        })
        $(document).on('click', '#spe', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Spending"
        })
        $(document).on('click', '#act', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Activity"
        })
        $(document).on('click', '#adv', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Advisor"
        })
    </script>
{% endblock content %}
