{% extends "zlayout.html" %}
{% block content %}
<div class="container">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#pay" id="pay"><span class="glyphicon glyphicon-usd"> PAY </span></a></li>
            <li><a data-toggle="tab" href="#top-up" id="top-up"><span class="glyphicon glyphicon-send"> TRANSFER </span></a></li>
            <li><a data-toggle="tab" href="#transactions" id="transactions"><span class="glyphicon glyphicon-piggy-bank"> TRANSACTIONS </span></a></li>
            <li class="active"><a data-toggle="tab" href="#add"><span class="glyphicon glyphicon-plus-sign"> ADD </span></a></li>
        </ul>

    <div class="tab-content">
      <div id="add" class="tab-pane in active">
        <h3> Add </h3>
          <div class="container">
              <div class="content-section">
                  <div class="form-group">
                    <form method="POST" action="{{ url_for('pay') }}">
                    <div class="form-group">

                        <h2>New Payee</h2>
                        <label for="name">Payee</label> <br>
                        <input type="text" id="name" name="name" required><br>

                        <label for="cardNum">Ezlink Card Number</label> <br>
                        <input type="text" id="cardNum" name="cardNum" required><br>

                    </div>
                        <input id='logSubmit' type="submit" value='Add' class="btn btn-warning">
                    </form>
              </div>
          </div>
      </div>

    <script>
    $(document).on('click', '#top-up', function() {
        console.log('fire')
        window.location.href = window.location.origin + "/pay/topup"
    })

    $(document).on('click', '#transactions', function() {
        console.log('fire')
        window.location.href = window.location.origin + "/pay/transactions"
    })

    $(document).on('click', '#pay', function() {
        console.log('fire')
        window.location.href = window.location.origin + "/pay"
    })
    </script>
{% endblock content %}

