{% extends 'layout_fin.html' %}
{% block content %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Data', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
        {% if 0 <= i.food_b|float < 1 %}
         ['Budget', parseInt({{i.food_b|float*400}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.food_e}}), 'red', 'Expenditure' ],
                 {% else %}
                          ['Budget', parseInt({{i.food_b}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.food_e}}), 'red', 'Expenditure' ],
                         {% endif %}
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('foodie'));
      chart.draw(data, null);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Data', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
        {% if 0 <= i.leisure_b|float < 1 %}
         ['Budget', parseInt({{i.leisure_b|float*400}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.leisure_e}}), 'red', 'Expenditure' ],
                 {% else %}
                          ['Budget', parseInt({{i.leisure_b}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.leisure_e}}), 'red', 'Expenditure' ],
                         {% endif %}
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('leisureie'));
      chart.draw(data, null);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Data', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
        {% if 0 <= i.essen_b|float < 1 %}
         ['Budget', parseInt({{i.essen_b|float*400}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.essen_e}}), 'red', 'Expenditure' ],
                 {% else %}
                          ['Budget', parseInt({{i.essen_b}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.essen_e}}), 'red', 'Expenditure' ],
                         {% endif %}
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('essenie'));
      chart.draw(data, null);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Data', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
        {% if 0 <= i.others_b|float < 1 %}
         ['Budget', parseInt({{i.others_b|float*400}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.others_e}}), 'red', 'Expenditure' ],
                 {% else %}
                          ['Budget', parseInt({{i.others_b}}), 'green', 'Budget' ],
         ['Expenditure', parseInt({{i.others_e}}), 'red', 'Expenditure' ],
                         {% endif %}
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('otheris'));
      chart.draw(data, null);
    }
  </script>

    <div class="jumbotron text-center">
        <h1>Advisor</h1>
    </div>

    <div class="container-fluid text-center">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <div class="container-fluid bg-grey text-center">
                          {% if session['username'] in bdb %}
        <h3>Results: </h3>
        <table class="table">
    <thead>
        <tr>
            <th>Food</th>
            <th>Essentials</th>
            <th>Leisure</th>
            <th>Others</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                    {% for i in bdb[session['username']] %}
            <td style="color:{{i.f_color}}">{{i.f_advise}}</td>
            <td style="color:{{i.e_color}}">{{i.e_advise}}</td>
            <td style="color:{{i.l_color}}">{{i.l_advise}}</td>
            <td style="color:{{i.o_color}}">{{i.o_advise}}</td>
            <td>You Saved ${{saved_total}}</td>
                    {% endfor %}
        </tr>
        <tr>
                    {% for i in bdb[session['username']] %}
            <td><div id="foodie" style="width: 200px; height: 120px;" class="container-fluid text-center"></div></td>
            <td><div id="essenie" style="width: 200px; height: 120px;" class="container-fluid text-center"></div></td>
            <td><div id="leisureie" style="width: 200px; height: 120px;" class="container-fluid text-center"></div></td>
            <td><div id="otheris" style="width: 200px; height: 120px;" class="container-fluid text-center"></div></td>
            <td>''</td>
                    {% endfor %}
        </tr>



    </tbody>
    </table>
                    <br><br>
            {% endif %}
                </div>

    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);


      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Department', 'Amount'],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
          ['Food and Beverages', parseInt({{i.food_e}})],
          ['Leisure', parseInt({{i.leisure_e}})],
          ['Essentials', parseInt({{i.essen_e}})],
          ['Others', parseInt({{i.others_e}})],
          {% endfor %}
        {% endif %}
        ]);

        var options = {
          title: 'My Spendings',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
<div id="donutchart" style="width: 900px; height: 500px;" class="container-fluid text-center"></div>
    <div class="container-fluid text-center">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Month', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
         ['October', parseInt({{i.Oct}}), 'blue', 'Oct' ],
         ['November', parseInt({{i.Nov}}), 'blue', 'Nov' ],
         ['December', parseInt({{i.Dec}}), 'blue', 'Dec' ],
         ['January', parseInt({{i.Jan}}), 'blue', 'Jan' ],
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('mySavingsChart'));
      chart.draw(data, null);
    }
  </script>
        <div id="mySavingsChart" ></div>
        <div class="container-fluid bg-grey text-center">
        <h3>Budgets Settings:</h3>
               {% if session['username'] in bdb %}
        <table class="table">
    <thead>
        <tr>
            <th>Food</th>
            <th>Essentials</th>
            <th>Leisure</th>
            <th>Others</th>
        </tr>
    </thead>
    <tbody>
        {% for i in bdb[session['username']]  %}
        <tr>
        <td>
        {% if 0 <= i.food_b|float < 1 %}
            <p>Your budget for Food and Beverages is {{i.food_b|float*100}}%</p>
        {% else %}
            <p>Your budget for Food and Beverages is ${{i.food_b}}</p>
            {% endif %}
        </td>
        <td>
        {% if 0 <= i.essen_b|float < 1 %}
            <p>Your budget for Essentials is {{i.essen_b|float*100}}%</p>
        {% else %}
            <p>Your budget for Essentials is ${{i.essen_b}}</p>
        {% endif %}
        </td>
            <td>
        {% if 0 <= i.leisure_b|float < 1 %}
            <p>Your budget for Leisure {{i.leisure_b|float*100}}%</p>
        {% else %}
            <p>Your budget for Leisure ${{i.leisure_b}}</p>
        {% endif %}
            </td>
            <td>
        {% if 0 <= i.others_b|float < 1 %}
            <p>Your budget for Others {{i.others_b|float*100}}%</p>
        {% else %}
            <p>Your budget for Others {{i.others_b}}</p>
        {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table class="table">
        {% endif %}

       {% if session['username'] in bdb %}
        <h3>Spending:</h3>
        <table class="table">
    <thead>
        <tr>
            <th>Food</th>
            <th>Essentials</th>
            <th>Leisure</th>
            <th>Others</th>
        </tr>
    </thead>
    <tbody>
        {% for i in bdb[session['username']] %}
        <tr>
            <td>{{i.food_e}}</td>
            <td>{{ i.essen_e }}</td>
            <td>{{ i.leisure_e}}</td>
            <td>{{ i.others_e}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        {% endif %}




    </div>


    <script>
        $(document).on('click', '#abo', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Finance"
        })
        $(document).on('click', '#sav', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Savings"
        })
        $(document).on('click', '#spe', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Spending"
        })
        $(document).on('click', '#act', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Activity"
        })
        $(document).on('click', '#adv', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Advisor"
        })
    </script>
{% endblock content %}
