{% extends 'layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">Profile</a>
              <a href="{{ url_for('balance') }}" class="list-group-item list-group-item-action active">Balance</a>
              <a href="{{ url_for('message') }}" class="list-group-item list-group-item-action">Messages</a>
              <a href="{{ url_for('contactUs') }}" class="list-group-item list-group-item-action">Contact Us</a>

            </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Balance</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">

							<h1>$50.11</h1>

		                </div>
		            </div>

		        </div>
		    </div>
		</div>
	</div>
</div>

{% endblock %}