{% extends 'Layout.html' %}

{% block body %}
<div class="container">
    <div class="page-header">
    <h1 id="borrowedBooksHeader">Books on Loan</h1>
    </div>
    <div class="jumbotron">
    <p>See what books you have on loan, and renew them here.</p>
    <p>{{ duedate }}</p>
<div class="form-group">
    <form method="POST" action="{{ url_for('booksubmit') }}">
        <div class="form-group">
            <h2>Enter borrowed book entry here</h2>
            <label for="bookTitle">Title of Book:</label> <br>
                <input type="text" id="bookTitle" name="bookTitle" required><br>
            <label for="genreselect">Genre of book:</label><br>
                <select name="genre" id="genreselect" required>
                    {% for i in genres %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select><br>
            {% set bk = book.today_date() %}
            <label for="loanDate">Date of loan:</label><br>
                <input id="loanDate" name="loanDate" type="date" value="{{ bk }}" required><br>
        </div>
        <input id='bookSubmit' type="submit" class="btn btn-warning">
    </form>
</div>
   <h2>Renew your books here</h2><br>
    <form method="GET" action="{{ url_for('booksubmit') }}">
        <div class="form-group">
            <label for="renewBooks">Title of book:</label><br>
            <select id='renewBooks' name="renewBooks">
                {% for i in db['Bob'] %}
                <option value="{{ i.title }}">{{ i.title }}</option>
                {% endfor %}
            </select><br>
        </div>
        <input id='renewSubmit' type="submit" class="btn btn-warning">
    </form>
    </div>
</div>
{% endblock %}