{% extends 'liblayout.html' %}
{% block content %}
    <div class="page-header">
    <h1 id="borrowedBooksHeader">Books on Loan</h1>
    </div>
    <div class="jumbotron">
    <p>See what books you have on loan, and renew them here.</p>

    <form method="post">
        <h2>Enter borrowed book entry here</h2>
        Title of Book:<br>
        <input type="text" name="bookTitle"><br>
        {% set bk = book.today_date() %}
        <label for="LoanDate">Date of loan:</label><br>
        <input id="LoanDate" name="LoanDate" type="date" value="{{ bk }}"><br>
        <input type="submit">
    </form>
{% endblock content %}
