<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">Slazz</a>
    </div>
              <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class='nav-item'><a class='nav-link' href="{{ url_for('Financehome') }}">About Finance</a></li>
        <li class="nav-item"><a class='nav-link' href="{{ url_for('Survey') }}">Advisor</a></li>
      <li class='nav-item'><a class='nav-link' href="{{ url_for('Savings') }}">Savings</a></li>
        <li class='nav-item'><a class='nav-link' href="{{ url_for('Spending') }}">Spending Log</a></li>
        <li class='nav-item'><a class='nav-link' href="{{ url_for('Activity') }}">Activity</a></li>
    </ul>
              </div>
    </div>
</nav>
