{% extends 'finlayout.html' %}
{% block content %}
    <div class="page-header">
        <h1 id="FinanceHeader">Finance</h1>
    </div>

    <div class="jumbotron">

    <div class="slider1">
        <h3>Welcome to Finance!</h3>
        <p>Finance Advisor, Saving Log, Spending Log.</p>
    </div>

        <hr>

    <div class="slider2">
        <h3>Finance Advisor</h3>
        <p>Want to manage your finances better?</p>
        <a id="AdvisorButton" href="Survey" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

        <hr>

    <div class="slider3">
        <h3>Saving Log</h3>
        <p>See how much you have saved!</p>
        <a id="SavingButton" href="Savings" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

        <hr>

    <div class="slider4">
        <h3>Spending Log</h3>
        <p>See how much you have spent! </p>
        <a id="SpendingButton" href="Spending" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

    <hr>

    <div class="slider5">
        <h3>Activities</h3>
        <p>Looking for cheaper activities to do? </p>
        <a id="ActivitiesButton" href="Activity" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>


        <hr>

    <h2>What is Financial Advisor about?</h2>
    <p>Financial Advisor is a great way to manage your spendings and to start planning how to save! With our financial
    advises, you will be able to better manage your finances.</p>

    </div>
{% endblock content %}


