{% extends 'layout_fin.html' %}
{% block content %}
    <div class="page-header">
        <h1 id="FinanceHeader"> Welcome to Finance! </h1>
    </div>

    <div class="jumbotron">

    <h3>What is Financial Advisor about?</h3>
    <p>Financial Advisor is a great way to manage your spendings and to start planning how to save! With our financial
    advises, you will be able to better manage your finances.</p>

        <hr>

    <div class="slider1">
        <h3>Finance Advisor</h3>
        <p>Want to manage your finances better?</p>
        <a id="AdvisorButton" href="Survey" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

        <hr>

    <div class="slider3">
        <h3>Saving Log</h3>
        <p>See how much you have saved!</p>
        <a id="SavingButton" href="Savings" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

        <hr>

    <div class="slider4">
        <h3>Spending Log</h3>
        <p>See how much you have spent! </p>
        <a id="SpendingButton" href="Spending" class="btn btn-warning btn-lg" role="button">Click here</a>
    </div>

    <hr>

    <div class="slider5">
        <h3>Activities</h3>
        <p>Looking for cheaper activities to do? </p>
        <a id="ActivitiesButton" href="Activity" class="btn btn-warning btn-lg" role="="tton">Click here</a>
    </div>
    </div>
{% endblock content %}


