{% extends 'layout.html' %}
{% block content %}



<div id="about" class="container-fluid">
  <div class="row">
   {% include 'carousel.html' %}
  </div>
</div>



<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Us</h2><br>
      <h4>Everyone, from Primary school students to Adults in Singapore have an Ezlink card, which actually has many uses, including Transport, for borrowing books in the library, and we can even use our Ezlink cards to pay for items. Our aim is to increase the use of Ezlink cards in everyone's daily lives since we all have it.</h4><br>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo"></span>
    </div>
  </div>
</div>
{% endblock content %}
