{% extends 'layout.html' %}
{% block content %}

    <div class="jumbotron text-center">
    <h1>Messages</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">Profile</a>
              <a href="{{ url_for('balance') }}" class="list-group-item list-group-item-action">Balance</a>
              <a href="{{ url_for('message') }}" class="list-group-item list-group-item-action active">Messages</a>
              <a href="{{ url_for('contactUs') }}" class="list-group-item list-group-item-action">Contact Us</a>

            </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Messages</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">

							<table border="1" id="table">
								{% for message in messages %}
								<tr>
								<td>{{ message.message }}</td>
							  	</tr>
								{% endfor %}
							</table>

		                </div>
		            </div>

		        </div>
		    </div>
		</div>
	</div>
</div>

{% endblock content%}
