{% extends "zlayout.html" %}
{% block content %}
<div class="jumbotron text-center">
  <h1>PAY</h1>
</div>

<div class="container-fluid text-center">
    <h1>Pay by EZlink</h1>
</div>

  <div class="container-fluid text-center bg-grey">
      <div class="form-group">
        <form method="POST" action="{{ url_for('transactions') }}">
        <div class="form-group">
            <label for="name">Payee</label> <br>
            <input type="text" id="name" name="name" required><br>

            <label for="amount">Amount</label> <br>
            <input type="text" id="amount" name="amount" required><br>

        </div>
            <input id='logSubmit' type="submit" value='Send' class="btn btn-warning">
        </form>
  </div>
</div>
</div>


<script>
$(document).on('click', '#top', function() {
console.log('fire')
window.location.href = window.location.origin + "/topup"
})
$(document).on('click', '#tra', function() {
console.log('fire')
window.location.href = window.location.origin + "/transaction"
})
$(document).on('click', '#abtp', function() {
console.log('fire')
window.location.href = window.location.origin + "/paymain"
})
</script>
{% endblock content %}
