{% extends 'layout_lib.html' %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Recommended</h1>
</div>

<div class="container-fluid text-center">
    <h1>Books just for you</h1>
</div>
    <div class="container-fluid text-center bg-grey">
    <h2>Your recent loans</h2>
        <div class="column">
            <div class="recentLoans">
            {% if session['username']+'LOGBOOK' in bdb %}
                {% for i in range(4) %}
                    <p>{{ rl[i] }}</p><br>
                {% endfor %}
            {% else %}
                <p>You do not have any recent loans.</p>
            {% endif %}
            </div>
        </div>
    <h2>Based on your recent reads</h2>
        <div class="column">
         {% if session['username']+'LOGBOOK' in bdb %}
            {% for i in rdb[book1Gen] %}
                <p>{{ i }}</p><br>
            {% endfor %}
        {% else %}
            <p>Loan books to get book recommendations.</p>
        {% endif %}
        </div>
    </div>


    <script>
        $(document).on('click', '#abtL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Library"
        })
        $(document).on('click', '#remL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Reminders"
        })
        $(document).on('click', '#payL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Payment"
        })
        $(document).on('click', '#onL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/BooksOnLoan"
        })
    </script>
{% endblock %}
