{% extends 'liblayout.html' %}
{% block content %}
    <div class="page-header">
    <h1 id="remindersHeader">Reminders</h1>
    </div>
    <div class="jumbotron">
    <p>Set reminders for your books here. We will inform you with a notification or email, or even both! The choice
     is up to you.</p>

    <form method="post">
        Title of Book:<br>
        {% set booklist = ['CLB','Paper Townes'] %}
        <select id='Book' name="books">
            {% for i in booklist %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <label for="RemindDate">Date of reminder:</label><br>
        <input id="RemindDate" name="RemindDate" type="date" value="2018-07-22"
        min="2018-01-01" max="2018-12-31"><br>
        <input type="submit">
    </form>
        <table>
            <tr>
                <th>Title</th>
                <th>Original Due Date</th>
                <th>Renewed Due Date</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

</div>
<script>
    var inputRemind= document.getElementById("RemindDate");
    localStorage.setItem("remindDate", inputRemind.value);
    var inputBook= document.getElementById("Book");
    localStorage.setItem("bookTitle", inputBook.value)
</script>
{% endblock content %}
