{% extends 'layout_lib.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1> Book renew success! </h1>
</div>
    <div class="container-fluid text-center">
        <h2>Book title: {{ result['renewBooks'] }}</h2>
        <h2>Renewed Due Date: {{ db.extractBook(session['username'], result['renewBooks']).due_date }}</h2>
        <button class="btn btn-warning"><a href="{{ url_for('loaned') }}">Back to Books On Loan</a></button>
    </div>
</div>

     <script>
        $(document).on('click', '#abtL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Library"
        })
        $(document).on('click', '#recL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/RecommendedBooks"
        })
        $(document).on('click', '#payL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Payment"
        })
        $(document).on('click', '#onL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/BooksOnLoan"
        })
        $(document).on('click', '#remL', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Reminders"
        })
    </script>
{% endblock %}
