{% extends 'layout_fin.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Savings</h1>
    </div>

    <div class="container-fluid text-center">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
             var data = google.visualization.arrayToDataTable([
         ['Month', 'Amount', { role: 'style' }, { role: 'annotation' } ],
        {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
         ['October', parseInt({{i.Oct}}), 'blue', 'Oct' ],
         ['November', parseInt({{i.Nov}}), 'blue', 'Nov' ],
         ['December', parseInt({{i.Dec}}), 'blue', 'Dec' ],
         ['January', parseInt({{i.Jan}}), 'blue', 'Jan' ],
          {% endfor %}
        {% endif %}
      ]);
      var chart = new google.visualization.ColumnChart(document.getElementById('mySavingsChart'));
      chart.draw(data, null);
    }
  </script>
        <div id="mySavingsChart" ></div>
                {% if session['username'] in bdb %}
        {% for i in bdb[session['username']]  %}
        <h3>In the month of October you saved ${{i.Oct}}</h3>
         <h3>In the month of November you saved ${{i.Nov}}</h3>
         <h3>In the month of December you saved ${{i.Dec}}</h3>
         <h3>In the month of January you saved ${{i.Jan}}</h3>
                  {% endfor %}
        {% endif %}
    </div>

    <script>
        $(document).on('click', '#abo', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Finance"
        })
        $(document).on('click', '#sav', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Savings"
        })
        $(document).on('click', '#spe', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Spending"
        })
        $(document).on('click', '#act', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Activity"
        })
        $(document).on('click', '#adv', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Advisor"
        })
    </script>


{% endblock content %}
