{% extends 'layout_fin.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Survey</h1>
    </div>

    <div class="container-fluid text-center">
        <form method="POST" action="{{ url_for('Advisor') }}">
        <div class="form-group">
            <legend>Budget Settings</legend>
            <label for="food_b">Budget for Food and Beverage:</label> <br>
                <input type="text" id="food_b" name="food_b" required><br>

            <label for="essen_b">Budget for Essentials: </label> <br>
                <input type="text" id="essen_b" name="essen_b" required><br>

            <label for="leisure_b">Budget for Leisure:</label> <br>
                <input type="text" id="leisure_b" name="leisure_b" required><br>

            <label for="others_b">Budget for Others:</label> <br>
                <input type="text" id="others_b" name="others_b" required><br>

        </div>
        <input id='surveySubmit' type="submit" value='Submit Settings' class="btn btn-warning">
    </form>
    </div>

    <div class="container-fluid bg-grey text-center">
        <h4>Use Default Settings</h4>
        <p>Pre-Made settings based on average accounts in Singapore</p>
        <a id="AdvisorButton" href="{{ url_for('Advisor') }}" class="btn btn-warning btn-lg" role="button">Click here</a>


    </div>

    <script>
        $(document).on('click', '#abo', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Finance"
        })
        $(document).on('click', '#sav', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Savings"
        })
        $(document).on('click', '#spe', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Spending"
        })
        $(document).on('click', '#act', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Activity"
        })
        $(document).on('click', '#adv', function() {
            console.log('fire')
            window.location.href = window.location.origin + "/Advisor"
        })
    </script>
{% endblock content %}
