{% extends 'finlayout.html' %}
{% block content %}
        <div class="page-header">
            <h1 id="SurveyHeader">Survey</h1>
        </div>
    <div class="jumbotron">




        <form method="POST" action="">


        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Insert Budget</legend>

            <div class="form-group">
                {{ form.f_budget.label(class="form-control-label") }}

                {% if form.f_budget.errors %}
                {{ form.f_budget(class="form-control form-control-lg is-invalid") }}
                 <div class="invalid-feedback">
                            {% for error in form.f_budget.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                 </div>

                {% else %}
                    {{ form.f_budget(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <hr>


       <div class="form-group">
            {{ form.e_budget.label(class="form-control-label") }}

            {% if form.e_budget.errors %}
            {{ form.e_budget(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                        {% for error in form.f_budget.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
             </div>

            {% else %}
                {{ form.e_budget(class="form-control form-control-lg") }}
            {% endif %}
   </div>


            <hr>


       <div class="form-group">
            {{ form.l_budget.label(class="form-control-label") }}

            {% if form.l_budget.errors %}
            {{ form.l_budget(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                        {% for error in form.l_budget.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
             </div>

            {% else %}
                {{ form.l_budget(class="form-control form-control-lg") }}
            {% endif %}
        </div>

            <hr>
       <div class="form-group">
            {{ form.o_budget.label(class="form-control-label") }}

            {% if form.o_budget.errors %}
            {{ form.o_budget(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                        {% for error in form.o_budget.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
             </div>

            {% else %}
                {{ form.o_budget(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <br><br>
            <div class="form-group">
            {{ form.submit(class="btn btn-success btn-lg") }}
            </div>

        </form>
        <hr>
        <h4>Use Default Settings</h4>
        <p>Pre-Made settings based on average accounts in Singapore</p>
        <a id="AdvisorButton" href="Advisor" class="btn btn-warning btn-lg" role="button">Click here</a>


    </div>
{% endblock content %}
