{% extends "layout_transport.html" %}
{% block content %}

<head>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; width:100%; height:110% }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Location</h1>
    </div>
<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWFkaXJhd3IiLCJhIjoiY2pyNzhoYjd1MnEyMjQ0bzBpN3praGloayJ9.LnGb-hq3p7mUJmnXN4I5yA';
const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/aadirawr/cjrglj9tq4fqi2toc676h2qzr',
    center: [103.8198, 1.3521], // starting position
    zoom: 10.91 // starting zoom
});

// Add geolocate control to the map.
map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}));
</script>

<script>
$(document).on('click', '#abtt', function() {
console.log('fire')
window.location.href = window.location.origin + "/transportmain"
})
$(document).on('click', '#trav', function() {
console.log('fire')
window.location.href = window.location.origin + "/travels"
})
$(document).on('click', '#ame', function() {
console.log('fire')
window.location.href = window.location.origin + "/amenities"
})
$(document).on('click', '#dir', function() {
console.log('fire')
window.location.href = window.location.origin + "/directions"
})
</script>

{% endblock content %}
