{% extends "zlayout.html" %}
{% block content %}
<div class="jumbotron text-center">
  <h1>TRANSACTION</h1>
</div>

<div class="container-fluid text-center">
  <h2>Search your transactions by name or amount</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

<div class="container-fluid text-center bg-grey">
  {% if 'Bob' in bdb %}
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for i in bdb['Bob']  %}
        <tr>
            <td style="color:{{i.color}}">{{ i.name }}</td>
            <td style="color:{{i.color}}">{{ i.amount}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>

<script>
$(document).on('click', '#top', function() {
    console.log('fire')
    window.location.href = window.location.origin + "/topup"
})

$(document).on('click', '#ezlink', function() {
    console.log('fire')
    window.location.href = window.location.origin + "/pay"
})

$(document).on('click', '#abtp', function() {
    console.log('fire')
    window.location.href = window.location.origin + "/paymain"
})
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock content %}
