{%extends "layout_transport.html" %}
{% block content %}
 <div class="jumbotron text-center">
        <h1>Travels</h1>
    </div>

<div class = "container-fluid text-center">
        <h1> Your Recent Travels</h1>
        <a class="btn btn-warning" href = "{{ url_for('add_travel') }}">Add Travel</a>
    </div>
</div>
<div class = "container-fluid bg-grey text-center">
        <table class="table table-striped">
            <tr>
              <th>Start</th>
              <th>Destination</th>
              <th>Fare</th>
              <th>Date</th>
            </tr>
                {% for i in bdb['Bob'] %}
                    <tr>
                        <td>{{i.start}}</td>
                        <td>{{i.destination}}</td>
                        <td>${{i.fare}}</td>
                        <td>{{i.date}}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>

    <script>
$(document).on('click', '#abtt', function() {
console.log('fire')
window.location.href = window.location.origin + "/transportmain"
})
$(document).on('click', '#dir', function() {
console.log('fire')
window.location.href = window.location.origin + "/directions"
})
$(document).on('click', '#ame', function() {
console.log('fire')
window.location.href = window.location.origin + "/amenities"
})
$(document).on('click', '#loc', function() {
console.log('fire')
window.location.href = window.location.origin + "/transport"
})
</script>

{% endblock %}
